


<div class="bubbles">
    <div class="bubble" ng-class="{four: bubble.rating == 4, three: bubble.rating == 3, two: bubble.rating == 2, one: bubble.rating == 1}" ng-repeat="bubble in bubbles">
        <div class="restaurant">{{bubble.restaurant}}</div>
        <div class="text">{{bubble.text}}</div>
        <div class="rating">{{bubble.rating}}</div>
    </div>
</div>

<button class="givefeedback" ng-click="giveFeedback()"><span>FEEDBACK GEBEN</span> <i class="material-icons">add</i></button>
