<div class="menus">
    <div class="meals">
    <h1 ng-if="menu.appetizer">Vorspeise</h1>
    <p>{{menu.mainCourse.appetizer}}</p>
    <h1 ng-if="menu.mainCourse">Hauptspeise</h1>
    <p>{{menu.mainCourse.description}}</p>
    <h1 ng-if="menu.dessert">Nachspeise</h1>
    <p>{{menu.mainCourse.dessert}}</p>
</div>

    <div class="notification">
        <span>Wöchentlich benachrichtigen:</span>
    <label class="switch">
        <input type="checkbox" ng-true-value="1" ng-false-value="0">
        <div class="slider round"></div>
    </label>
        </div>
    <div class="day" ng-swipe-right="daysliderBack()"  ng-swipe-left="daysliderForward()">
        <i class="material-icons" ng-click="daysliderBack()" >keyboard_arrow_left </i> {{dayslider.days[dayslider.current]}} <i class="material-icons" ng-click="daysliderForward()" > keyboard_arrow_right </i>

    </div>



</div>
