<div class="settingsWrapper">




    <h1>Einrichtung</h1>

    <p>Wir benötigen einige Daten um die App für Sie persönlich einzigartig zu gestalten. Die Daten werden jedoch nur auf Ihrem Gerät gespeichert und nicht weitergegeben</p>
    <h2>Geschlecht:</h2>
    <div class="sexes">
        <div class="sex" ng-class="{'active': $index==sexes.active}" ng-repeat="sex in sexes.options" ng-click="sexes.active = $index">{{sex.name}}</div></div>
    <br>
    <h2>Geburtsjahr:</h2>
    <input type="text">
    <br>



    <br>

    <label class="checkbox">
        <input type="checkbox" value="pupilMeal">
        <div></div>
        <span>Ich bin Schüler</span>
    </label>
    <div onClick="slide('#/interests')"><i class="material-icons doneicon">done</i></div>
</div>
