<div class="newsletterWrapper">
    <h1>Newsletter</h1>
    <p>Wir versenden regelmäßig Newsletter mit interessanten Neuigkeiten, Veranstaltungen und Informationen.
        Melden Sie sich mit der Eingabe Ihrer Email-Adresse ganz einfach an.</p>
    <h2>Email-Adresse:</h2>
    <input type="email" ng-model="input.email"/>
    <div ng-click="slide('#/home')"><i class="material-icons cancelicon">close</i></div>
    <div ng-click="slide('#/home')"><i class="material-icons doneicon">done</i></div>
</div>