<div class="newsletterWrapper">
    <div class="container">
        <h1>Newsletter</h1>
        <p>Regelmäßig versenden wir Neuigkeiten, Veranstaltungen und Informationen in Form eines Newsletters.
            Melden Sie sich ganz einfach an.</p>
        <h2>Email-Adresse:</h2>
        <input type="email" ng-model="input.email"/>
        <div ng-click="slide('#/home')"><i class="material-icons cancelicon">close</i></div>
        <div ng-click="slide('#/home')"><i class="material-icons doneicon">done</i></div>
    </div>
</div>