<div class="settingsWrapper" ng-controller="settingsController">
    <h1>Einstellungen</h1>

    <div class="block">
        <h2>Allgemein:</h2>
        <label class="checkbox">
            <input type="checkbox" ng-checked="input.pupil">
            <div></div>
            <span>Ich bin Schüler</span>
        </label>
        <br>
        <label class="checkbox">
            <input type="checkbox" ng-checked="input.tourist">
            <div></div>
            <span>Ich bin Tourist</span>
        </label>
    </div>
    <div class="block">
        <h2>Interessen:</h2>
        <div class="interests">
            <div class="interest" ng-class="[{active: interest.active}, interest.type]" ng-repeat="interest in input.interests" ng-click="interest.active = !interest.active">
                <span>{{interest.name}}</span>
            </div>
        </div>
    </div>
    <div class="block">
        <h2>Benachrichtigungen:</h2>
        <label class="switch transparent">
            <input type="checkbox" ng-checked="input.newsletter">
            <div class="slider round"></div>
        </label>
        <span class="switchLabel">Newsletter aus</span>
        <br/>
        <label class="switch transparent">
            <input type="checkbox" ng-checked="input.notifications">
            <div class="slider round"></div>
        </label>
        <span class="switchLabel">Push-Benachrichtigungen ein</span>
    </div>

    <i class="material-icons doneicon" ng-click="save()">done</i>
</div>
