<div class="arrowTop" ng-if="arrows.top">
    <i class="material-icons">keyboard_arrow_up</i>
    <br/>
    <a class="description" ng-class="arrows.top.color">{{arrows.top.text}}</a>
</div>
<div class="arrowRight" ng-if="arrows.right">
    <a class="description" ng-class="arrows.right.color">{{arrows.right.text}}</a><i class="material-icons">keyboard_arrow_right</i>
</div>
<div class="arrowBottom" ng-if="arrows.bottom">
    <a class="description" ng-class="arrows.bottom.color">{{arrows.bottom.text}}</a>
    <br>
    <i class="material-icons">keyboard_arrow_down</i>
</div>
<div class="arrowLeft" ng-if="arrows.left">
    <i class="material-icons">keyboard_arrow_left</i><a class="description" ng-class="arrows.left.color">{{arrows.left.text}}</a>
</div>