* {
  font-family: "Gotham Book";
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;
}

h2 {
  font-family: "Gotham Medium";
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 20px;
}

.checkbox {

  input {
    display: none;

  }
  span {
    padding-left: 30px;

  }
  div:before {
    visibility: visible;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: rgba(128, 128, 128, 0.3);
  }
  input:checked + div:before {
    background-image: url('../../assets/icons/done.png');
    background-size: cover;
  }
}