* {
  font-family: "Gotham Book";
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;
}

h2 {
  font-family: "Gotham Medium";
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 20px;
}

.material-icons {
  &.doneicon, &.cancelicon {
    position: fixed;
    font-size: 30px;
    background-color: #27ae60;
    color: #fff;
    bottom: 35px;
    right: 35px;
    padding: 15px;
    border-radius: 50%;
  }
  &.cancelicon {
    background-color: #e74c3c;
    right: 110px;
  }
}

.checkbox {
  input {
    display: none;

  }
  span {
    padding-left: 25px;

  }
  div:before {
    visibility: visible;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: rgba(128, 128, 128, 0.3);
  }
  input:checked + div:before {
    background-image: url('../../assets/icons/done.png');
    background-size: cover;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
vertical-align: middle;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ee8360;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ee8360;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  height: 28px;
  width: 55px;
}

.slider.round:before {
  border-radius: 50%;
}
.swiper-container-start-horizontal{
  overflow: hidden;

}
