.foodStartWrapper{

  width: 100%;
  height:100vh;



    h1{
      font-family: 'Gotham Book';
      font-size: 45px;
      font-weight: normal;
      color: #fff;
      text-align: center;
      text-transform:uppercase;
      margin:0;
      margin-top: 30%;
    }
}