
.homeWrapper {
heigth: 100vh;
  width: 100%;
  .background {
    background-image: url('../../assets/imgs/home-background.png');
    background-size: cover;
    height: 100vh;
    width: 100%;

  }
  .home {
    font-size: 40px;
    margin-left: 65px;
    top: 10px;
    position: absolute;
    font-family: gotham-book;
  }
}