.interestsWrapper{
  font-family:"Gotham Book";
  h1{
    text-transform: uppercase;
  }
  p{

  }

  h3{
    font-family: "Gotham Medium";
  }
  .doneicon{
    font-size: 30px;
    border: solid 1px #27ae60;
    border-radius: 100px;
    padding: 5px;
    color: #ffffff;
    background-color: #27ae60;
  }
  .interests{
    p{
      color: #ffffff;
      text-align:center;
      padding-top:2px;
    }
    display: inline-block;
    height: auto;
    padding:1px 20px;
    background-color: #34495e ;
    border-radius: 50px;
  }
}