.interestsWrapper {
  padding: 20px;
  .interests {
    .interest {
      display: inline-block;
      background-color: #34495e;
      padding: 0 25px;
      border-radius: 50px;
      margin-left: 3px;
      margin-top: 3px;
      opacity: .5;
      span {
        display: inline-block;
        font-size: 13px;
        color: #fff;
        padding: 10px 0px;
      }
      i {
        font-size: 13px;
        color: #fff;
      }
      &.active{
        opacity: 1;
      }
    }
  }
}