// Font-inclusions
@font-face {
  font-family: 'Bitter Regular';
  src: url('../../assets/fonts/Bitter-Regular.eot');
  src: url('../../assets/fonts/Bitter-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/Bitter-Regular.woff') format('woff')
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../../assets/fonts/Gotham-Book.eot');
  src: url('../../assets/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/Gotham-Book.woff') format('woff')
}

@font-face {
font-family: 'Gotham Medium';
src: url('../../assets/fonts/Gotham-Medium.eot');
src: url('../../assets/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('../../assets/fonts/Gotham-Medium.woff') format('woff')
}

body{
  margin: 0;
}