.newsletterWrapper {
  padding: 20px;
  font-family: "Gotham Book";
  input{
    background: #F2F2F2;
    width: calc(100% - 20px);
    padding: 8px 10px;
    border: none;
    outline: none;
  }

  .doneicon {
    position: fixed;
    bottom: 35px;
    right: 35px;
    font-size: 30px;
    border: solid 1px #27ae60;
    border-radius: 100px;
    padding: 5px;
    color: #fff;
    background-color: #27ae60;
  }
}