.restaurantDetailWrapper {
  .slider {
    img {
      width: 100%;
    }
  }
  .content {
    position: absolute;
    background-color: #fff;
    top: 200px;
    width: 100%;
    height: calc(100% - 200px);
    .tabs {
      .tab {
        display: inline-block;
        width: 20%;
        text-align: center;
        i {
          font-size: 30px;
          padding: 15px 0;
        }
        &.active {
          border-bottom: 2px solid #ee8360;
        }
      }
    }
    .view{
      padding: 20px;
      .general {
      }
.location{
  .Adresse h1{
    font-family: "gotham Medium";
    text-align: center;

    margin: 0;
    padding: 0;
    margin-top: 80px;
}
  .Straße h1{
    font-family: "Gotham Book";
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }
   .maps button{
     margin-top: 150px;
     width: 100%;
     height:40px;
   }
      }
    }
  }
}