.settingsWrapper {
  height: 100%;
 h2{
   font-size: 20px;
 }
  padding: 20px;

  font-family: "Gotham Book";

#editInterests{
  text-align: center;
  margin-left: 9px;
}

  .checkbox i{
    position: absolute;
margin-bottom: 0;
  }

    }







