.startWrapper {
  width: 100%;
<<<<<<< HEAD
  height: 100%;
  background-image: url('../../assets/imgs/start_background.jpg');
  background-size: cover;
  text-align: center;
  h1 {
    font-size: 60px;
    color: #000;
    text-transform: uppercase;
    padding-top: 60px;
=======


  .background {
    background-image: url('../../assets/imgs/start_background.jpg');
    background-size: cover;
    background-position: top;
    height: 100vh;
    width: 100%;
>>>>>>> 5c67485eb3e07d4fb160da1ad60d29433e882b69
  }
  h3 {
    font-size: 25px;
    color: #000;
  }
  /*
.arrowLeft{
  position: absolute;
  vertical-align: middle;
  margin-top: 50vh;
  img{
    height: 60px;
    width: 60px;
    vertical-align: middle;
  }
  .description{
    display: inline-block;
    font-family: "Gotham Book";
    background-color: rgba(236, 207, 119, 0.7);

    vertical-align: middle;
    text-align: center;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #fff;
  }

}

    .arrowRight{
      position: absolute;
      right: 0;
      margin-top: 50vh;
      img{
        height: 60px;
        width: 60px;
        vertical-align: middle;
      }
      .description{
        display: inline-block;
        font-family: "Gotham Book";
        background-color: rgba(238, 131, 96, 0.7);

        vertical-align: middle;
        text-align: center;
        padding: 10px 15px;
        text-transform: uppercase;
        color: #fff;
      }

    }
    .arrowDown{
      position: absolute;
      bottom: 0;
      left: calc(50% - 80px);

      img{
        height: 60px;
        width: 60px;
        vertical-align: middle;
      }
      .description{
        display: inline-block;
        font-family: "Gotham Book";
        background-color: rgba(101, 94, 94, 0.7);

        vertical-align: middle;
        text-align: center;
        padding: 10px 15px;
        text-transform: uppercase;
        color: #fff;
      }
    }
    */
}