$primary-font: 'Gravity', sans-serif;
$primary-color: #444;
$accent-color: #2b2f38;

@import 'main';
@import 'elements';
@import 'home';
@import 'interests';
@import 'newsletter';
@import 'food';
@import 'foodFeedback';
@import 'establishment';
@import 'start';
@import 'settings';